@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Tiro+Devanagari+Sanskrit&display=swap");

.purchase-container {
  font-family: "Tiro Devanagari Sanskrit", serif;
}

.order-page-icon {
  width: 100px;
}
.text-color {
  color: #04c8a4;
}

.submit-Button {
  background-color: #35676def;
  color: white;
  border: none;
}
.submit-Button:hover {
  background-color: white;
  color: #35676def;
  border: none;
}
